{% load i18n %}

{% block subject %}
{% blocktrans %}Account activation on Vinerfia{% endblocktrans %}
{% endblock subject %}

{% block text_body %}
{% blocktrans %}You're receiving this email because you need to finish activation process on Vinerfia.{% endblocktrans %}

{% trans "Please go to the following page to activate account:" %}
{{ protocol }}://{{ domain }}/{{ url|safe }}

{% trans "Thanks for using our site!" %}

{% blocktrans %}The Vinerfia team{% endblocktrans %}
{% endblock text_body %}

{% block html_body %}
<p>Hello Dear,</p>
<p>{% blocktrans %}You're receiving this email because you need to finish activation process on Vinerfia.{% endblocktrans %}</p>
<p>{% trans "Please go to the following page to activate account:" %}</p>
<p><a href="{{ protocol }}://frontend-ben-ecommerce.herokuapp.com/{{ url|safe }}">{{ protocol }}://frontend-ben-ecommerce.herokuapp.com/{{ url|safe }}</a></p>

<p>{% trans "Thanks for using our site!" %}</p>

<p>{% blocktrans %}The Vinerfia team{% endblocktrans %}</p>

{% endblock html_body %}
